html, body {   
}
.iniciar {
    font-size: 72px;
    position: absolute;    
    width: 30%;
    left: 35%;
    top: 100px;    
}

.container-exames {
    border-radius: 5px;
    border: solid 1px silver;
    padding: 15px;
}