html, body {   
}
.iniciar {
    font-size: 72px;
    position: absolute;    
    width: 30%;
    left: 35%;
    top: 100px;    
}

.container-exames {    
    padding: 15px;
}

canvas{
	background: url("../img/corpoHumano.jpg");
	background-repeat: no-repeat;
}
